<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="https://learn.village88.com/assets/black_ninja-9adea777014ced1d5d36046555cf036c.ico?v=2" type="image/x-icon">
        <link rel="stylesheet" href="/stylesheets/details.css">
        <script src="https://kit.fontawesome.com/929adf1879.js" crossorigin="anonymous"></script>
        <title>Village88 | NodeJS (Express) | Cars and Cats | Cats</title>
    </head>
    <body>
        <section>
            <h1>More about our dear cat, <%= cat.name %></h1>
            <img src="images/<%= cat.pic %>">
            <div class="details">
                <p><span>Favourite Food:</span> <%= cat.fave_food %></p>
                <p> <span>Age:</span> <%= cat.age %></p>
                <ul>
                    <span>Sleeping Spots:</span>
                <% for(let x in cat.sleeping_spots){ %>
                    <li><%= cat.sleeping_spots[x] %></li>
                <% } %>
                </ul>
                <a href="/cats">Back To Cats</a>
            </div>
        </section>
    </body>
</html> 